[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
youtube-search-python = "*"
pynacl = "*"
python-dotenv = "*"
"discord.py" = {extras = ["voice"], version = "*"}
sqlalchemy = "*"
yt-dlp = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
# "start:dev" = "bash -c 'ENV=dev python main.py'"
# "start:prod" = "bash -c 'ENV=prod python main.py'"
"start" = "python main.py"
